<html>

<body>
  <div>
    <%= link_to 'Back', :back, :class => 'link' %>
  </div>
  <h1 style="text-align:center">Update Variant</h1>

    <div class='form'>
      <%= form_for @variant, :url => product_variant_path(@variant.product_id, @variant.id) do |form| %>
      <table class='form-table'>
          <tr><td><%= form.text_field :name, placeholder: 'Name' %></tr></td>
          <tr><td><%= form.text_field :product_id, :value => @product.title, disabled: true %></tr></td>
          <tr><td><%= form.number_field :inventory, min: 1, placeholder: 'Inventory' %></tr></td>
          <tr><td><%= form.number_field :price, placeholder: 'Price' %></tr></td>
          <tr><td><%= form.submit :class => 'submit' %></tr></td>
      </table>
      <% end %>
    </div>
</body>

</html>