<html>

<body>
  <div>
    <%= link_to 'Back', :back, :class => 'link' %>
  </div>
  <h1 style="text-align:center">Update Variant</h1>
   <div class='form' style='margin-left:40%'>
      <%= form_for @variant, :url => product_variant_path(@product.id) do |form| %>
          <%= form.text_field :name, placeholder: 'Name' %><br>
          <%= form.text_field :product_id, :value => @product.title, disabled: true %><br>
          <%= form.number_field :inventory, min: 1, placeholder: 'Inventory' %><br>
          <%= form.number_field :price, placeholder: 'Price' %><br>
          <%= form.submit %>
      <% end %>
    </div>
</body>

</html>