<html>

<body>
  <h1 style="text-align:center">Admin Panel</h1>
  <div class='top-nav'>
    <a href='<%= products_path %> ' class="link">Products</a>
    <a href='<%= brands_path %> ' class="link">Brands</a>
    <a href='<%= categories_path %> ' class="link">Categories</a>
    <%= form_tag(search_path, :method => 'get', :class => 'search-form') do %>
    <%= search_field_tag :search, params[:search], placeholder:'' %>
    <%= button_tag 'Search', :name => nil, :class => 'link' %>
    <% end %>
  </div>
  <ul>


  </ul>
</body>

</html>