<html>

<body>
  <div>
    <div class='form' style='margin-left:40%'>
      <%= form_for @product, :url => brand_products_path(brand_id: @brand.id) do |form| %>
          <%= form.text_field :title, placeholder: 'Title' %><br>
          <%= form.text_field :brand_id, :value => @brand.name, disabled: true %><br>
          <%= form.text_area :description, placeholder: 'Description' %><br>
          <%= form.number_field :price, step: 0.1, placeholder: 'Price' %><br>
          <%= form.submit :class => 'submit' %>
      <% end %>
    </div>
  </div>

</body>

</html>