<html>

<body>
  <div>
    <div class='form'>
      <%= form_for @product, :url => brand_products_path(brand_id: @brand.id) do |form| %>
      <table class='form-table'>
        <tr><td><%= form.text_field :title, placeholder: 'Title' %></tr></td>
        <tr><td><%= form.text_field :brand_id, :value => @brand.name, disabled: true %></tr></td>
        <tr><td><%= form.text_area :description, placeholder: 'Description' %></tr></td>
        <tr><td><%= form.number_field :price, step: 0.1, placeholder: 'Price' %></tr></td>
        <tr><td><%= form.submit :class => 'submit' %></tr></td>
      </table>
      <% end %>
    </div>
  </div>

</body>

</html>