<html>

<body>
  <div>
    <%= link_to 'Back', :back, :class => 'link' %>
    <%= link_to 'Home', root_path, :class => 'link' %>
    <h1 style="text-align:center">Update <%= @brand.name %> product</h1>
    <div class='form'>
      <%= form_for @product, :url => brand_product_path(id: @product.id) do |form| %>
      <table class='form-table'>
        <tr>
          <td><%= form.label :title, "Title" %></td>
          <td><%= form.text_field :title %></td>
        </tr>
        <tr>
          <td><%= form.label :brand_id, "Brand" %></td>
          <td><%= form.text_field :brand_id, :value => @brand.name, disabled: true %></td>
        </tr>
        <tr>
          <td><%= form.label :category_id, "Category" %></td>
          <td><%= form.collection_select :category_id, Category.all, :id, :name, {}, class: 'form-edit-select' %><br></td>
        </tr>
        <tr>
          <td><%= form.label :description, "Description" %></td>
          <td><%= form.text_area :description, placeholder: 'Description' %></td>
        </tr>
        <tr ><td colspan='2'><%= form.submit class: 'submit' %></td></tr>
      </table>
      <% end %>
    </div>
  </div>

</body>

</html>