<html>

<body>
  <h1 style="text-align:center">Product Category</h1>
  <div class="top-nav">
    <%= link_to 'Back', :back, :class => 'link' %>
    <%= link_to 'Home', root_path, :class => 'link' %>
    <a href='<%= new_category_path %> ' class="link">New Category</a>
    <%= form_tag(search_path, :method => 'get', class:'search-form') do %>
    <%= search_field_tag :search, params[:search], placeholder:'' %>
    <%= button_tag 'Search', :name => nil, :class => 'link' %>
    <% end %>
  </div>
  <ul><br>
    <table>
      <tr>
        <th>Category</th>
        <th>No. of Product(s)</th>
        <th>Actions</th>
      </tr>
      <% @categories.each do |category| %>
      <tr style="margin:5px 0px">
        <td><%= link_to category.name, category_products_path(category) %></td>
        <td><%= category.products.count %></td>
        <td><a href='<%= edit_category_path(category) %>' class="link">Update</a>
        <%= link_to "Delete", category_path(category), method: :delete, data: {confirm: 'Delete?'}, :class => "link" %></td>
      </tr>
      <% end %>
    </table>
  </ul>
</body>

</html>