<html>

<body>
  <div class='form' style='margin-left:40%'>
  <%= form_for @product do |pform| %>
    <%= pform.text_field :title, placeholder: 'Title' %><br>
    <%= pform.collection_select :brand_id, Brand.all, :id, :name %><br>
    <%= pform.text_area :description, placeholder: 'Description' %><br>
    <%= pform.number_field :price, step: 0.1, placeholder: 'Price' %><br>
    <%= pform.submit :class => 'submit' %>
  <% end %>
  </div>

</body>

</html>