<html>

<body>
  <div style="text-align: center">
    <%= link_to "Show #{@product.brand.name} Products", brand_products_path(@product.brand.id), :class => "link" %>
    <%= link_to "Show #{@product.category.name} Products", category_products_path(@product.category_id), :class => "link" %>
    <%= link_to 'Home', root_path, :class => 'link' %>
  </div>
  <ul>
    <table>
      <tr><th colspan="6">Product</th></tr>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
      <tr>
        <td><%= @product.id %></td>
        <td><%= @product.title %></td>
        <td><%= @product.brand.name %></td>
        <td><%= @product.category.name %></td>
        <td><%= @product.description %></td>
        <td><a href='<%= edit_product_path(@product) %> ' class="link">Update</a>
    <%= link_to "Delete", product_path(@product), method: :delete, data: {confirm: 'Delete?'}, :class => "link" %></td>
      </tr>
    </table>
    <table>
      <th colspan="6">Variant(s)</th>
      <tr>
        <th>ID</th>
        <th colspan='2'>Name</th>
        <th>Inventory</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
      <% @product.variants.each do |variant| %>
      <tr>
        <td><%= variant.id %></td>
        <td colspan='2'><%= variant.name %></td>
        <td><%= variant.inventory %></td>
        <td><%= variant.price %></td>
      </tr>
      <% end %>
    </table>

  </ul>
</body>

</html>